<div class="new-activity-form">
	<h3>New</h3>

	<%= bootstrap_form_tag(url: case_activities_path(@case)) do |f| %>
		<%= f.select :type, CaseActivity.types, placeholder: "Select type..." %>
	<% end %>

</div>