<div class="new-activity-form text-center">
  <% activity = @case.activities.build %>
	<%= render partial: 'activities/form', locals: {activity: activity, submit_text: "Create activity", url: case_activities_path(@case), http_method: "POST"} %>
</div>