<div class="new-activity-form">
	<h3>Add</h3>

	<%= bootstrap_form_tag(url: case_activities_path(@case)) do |f| %>
		<%= f.select :type, CaseActivity.types, {},  {class: 'chosen-select', placeholder: "Select type...", name: "activity[case_activity_type]"} %>
		<%= f.text_area :notes, name: "activity[notes]" %>
		<%= f.submit "Create", class: 'btn btn-primary' %>
	<% end %>

</div>