	<div class="container">
	<div class="dashboard-buttons">
	</div>
	<div class="dashboard-divider divider"></div>

	<div class="columns dashboard-columns">
		<div class="column col-5">
			<%= link_to("New Case", "#", class: 'btn btn-primary') %>
			<%= link_to("Find Case", "#", class: 'btn btn-primary') %>
		</div>
		<div class="divider-vert"></div>
		<div class="column col-6 text-center">
			Recent Activity
		</div>

	</div>
</div>