<div class="container">
	<div class="row">
		<div class="column col-lg-3">
    	<h3>Actions</h3>
    	<hr>
			<%= link_to("New Case", new_case_path, class: 'btn btn-primary') %>
			<%= link_to("Find Case", "#", class: 'btn btn-primary') %>
		</div>
    <div class="column col-lg-9">
    	<h3>Recent Activity</h3>
    	<hr>
    	<%= render_activities(@activities) %>
    </div>
	</div>

  <div class="row">
  </div><!--/row-->
</div>
