/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= chosen

 */

/*imported from freeshop*/

body {
	background-color: #fbfbfc;
}

.big-divider {
	margin-top: 30px;
	margin-bottom: 30px;
}

.text-center {
	text-align: center;
}

.navbar {
    border-bottom: 1px solid;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.navbar .site-title {
	font-size: 2em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}

.grid-item {
  text-align: center;
}

.activity-grid-container {
  display: grid;
  grid-template-columns: auto auto 50%;
  justify-content: center;
}

.activity-grid-item {
  /*text-align: center;*/
  margin: 20px;
}

.cancel {
	float: right;
}


/*LEGAL SPECIFIC*/



.case-form hr {
	margin-top: 50px;
	margin-bottom: 50px;
}

.main-container {
	text-align: center;
}

.nested_case_members {
	padding: 10px;
	border: 1px solid grey;
	margin: 10px;
}

.dashboard-case-input {
	margin-bottom: 10px;
	margin-right: 10px;
}

.dashboard-divider {
	margin-top: 20px;
	margin-bottom: 30px;

}

h1, h2, h3 {
	font-style: italic;
}


/*.modal form input {
	width: 80%;
}*/

#case_description {
	width: 70%;
	min-height: 200px;
}

.btn-cancel:hover {
	background-color: red;
}

.new-case-button {
	margin-right: 40px;
}

#case-save {
	margin-top: 30px;
	padding: 1em;
    height: 5%;
    overflow: hidden;
}

.modal-container {
	border: 1px solid black;
}

.caseworker-select {
	margin: 20px;
}

.multi-check {
	margin-left: 20px;
}

.collection-label {
	font-size: 1.3em;
	margin-bottom: 20px;
}

.collection-select {
	margin-bottom: 20px;
}

.dashboard-buttons {
	display: flex;
	justify-content: center;
}


.paginate_button {
	margin: 5px;
}

.member-actions {
	margin-top: 10px;
}

.modal .form-label {
	margin-top: 10px;
}
