<div>
  <table id="activities-datatable" data-source="<%= activity_table_path(format: :json) %>" class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Case number</th>
        <th scope="col">Date</th>
        <th scope="col">Type</th>
        <th scope="col">Notes</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

